In [ ]:
# sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],


# "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],


 # "Fiyat" : [300,180,450,50,700,400,150,80,850,900]} 

#  Yukarıdaki sözlük DataFrame’e dönüştürülür.

In [13]:
sozluk = {"Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],


  "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],


"Fiyat" : [300,180,450,50,700,400,150,80,850,900]}

import pandas as pd


df =pd.DataFrame(sozluk)

df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [ ]:
#  Yukarıdaki DataFrame için 

 # 2.indexte bulunan kategori bulunur. (Sadece kategori bilgisi) 
 # 2. indexte bulunan ürün bulunur. (Sadece ürün bilgisi) 
 # 4.indexten 9.indexe kadar olan veriler bulunur. (Kategori,ürün,fiyat bilgisi beraber) 
 # 1.indexten 6.indexe kadar olan ürünler bulunur. (Sadece ürün bilgisi)

In [14]:
df.loc[2,"Kategori"]

'Ayakkabı'

In [15]:
df.loc[2,"Ürün"]

'Sandalet'

In [16]:
df.iloc[4:10]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [20]:
df.loc[1:6,["Ürün"]]

            Ürün
1        T-shirt
2       Sandalet
3           Küpe
4  Spor Ayakkabı
5       Pantolon
6          Kolye

In [ ]:
#  Yukarıdaki DataFrame için 
# Giyim kategorisinde bulunan ürünler gösterilir. 
# Ayakkabı kategorisinde bulunan ürünler gösterilir. 
# Aksesuar kategorisinde bulunan ürünler gösterilir.

In [26]:
df[df["Kategori"]=="Giyim"][["Ürün"]]

       Ürün
0     Kazak
1   T-shirt
5  Pantolon
9     Ceket

In [27]:
df[df["Kategori"]=="Ayakkabı"][["Ürün"]]

            Ürün
2       Sandalet
4  Spor Ayakkabı
8          Çizme

In [28]:
df[df["Kategori"]=="Aksesuar"][["Ürün"]]

    Ürün
3   Küpe
6  Kolye
7  Yüzük

In [ ]:
# Yukarıdaki DataFrame için 

# Giyim kategorisinde fiyatı 300'den fazla olan ürünler gösterilir. 
# Ayakkabı kategorisinde fiyatı 600'den az olan ürünler gösterilir. 
# Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuar gösterilir.

In [34]:
df[(df["Kategori"]=="Giyim")& (df["Fiyat"]>300)]
# sadece ürün gözüksün istersek :
# df[(df["Kategori"]=="Giyim") & (df["Fiyat"]>300)][["Ürün"]]

  Kategori      Ürün  Fiyat
5    Giyim  Pantolon    400
9    Giyim     Ceket    900

In [35]:
df[(df["Kategori"]=="Ayakkabı")& (df["Fiyat"]<600)]

   Kategori      Ürün  Fiyat
2  Ayakkabı  Sandalet    450

In [36]:
df[(df["Kategori"]=="Aksesuar")& (df["Fiyat"]>100)]

   Kategori   Ürün  Fiyat
6  Aksesuar  Kolye    150