# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra beri tipinide yazdıralım.

In [ ]:
x=3
x=float(x)
type(x)

float

In [12]:
y=4.5
y=int(y)
type(y)

int

In [13]:
z="8"
z=int(z)
type(z)

int

In [14]:
a="12"
a=float(a)
type(a)

float

In [16]:
b="46.8"
b=int(b)
type(b)

ValueError: invalid literal for int() with base 10: '46.8'

# 2 
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [17]:
eylül=21
deniz=20
taylor=35

In [18]:
eylül>taylor

False

In [19]:
deniz<taylor

True

In [20]:
eylül==deniz

False

In [23]:
eylül>deniz and taylor>eylül

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [26]:
sayi1=int(input("1.sayiyi giriniz:"))
sayi2=int(input("2.sayiyi giriniz:"))
toplama=sayi1+sayi2
cikarma=sayi1-sayi2
carpma=sayi1*sayi2
bolme=sayi1/sayi2
print("toplama:",toplama)
print("cikarma:",cikarma)
print("carpma:",carpma)
print("bolme:",bolme)

toplama: 15
cikarma: 5
carpma: 50
bolme: 2.0

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [27]:

name = input ("name : ")
print(name)
age=int(input("age : "))
print(age)
city= input("city : ")
print(city)
job= input("job: ")
print(job)

Taylor
35
Los Angeles
Singer

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir. 
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ") 
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi") 

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [28]:
bootcamp = "Hi-Kod Veri Bilimi Atölyesi"
bootcamp.split()

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']

In [29]:
bootcamp.upper()

'HI-KOD VERI BILIMI ATÖLYESI'

In [30]:
bootcamp.lower()

'hi-kod veri bilimi atölyesi'

In [31]:
number= "0123456789"
number[0:10:2]

'02468'

In [32]:
number[1:10:2]

'13579'